
:root{
    --primary: #5e72e4;
    --light: #ffffff;
    --grey: #efefef;
}

.btn {
    border: 1px solid var(--light);
}
.btn-outline-primary{background-color: var(--primary);   }
.btn-outline-primary:hover{ background-color: var(--primary);}
.bg-mix{background: linear-gradient(180deg, var(--light) 50%, var(--grey)0);}




.stat{
    border-right: 1px solid var(--grey);
}

