:root{
    --primary: #5e72e4;
    --light: #ffffff;
    --grey: #efefef;
    --dark: #110f0f;
  }

.font{font-family: 'Muli', sans-serif;}

.cl-dark{color: var(--dark);
    text-align: justify;
    font-size: large;
}

.bg-primary{background-color: var(--primary);}
.bg-grey{background-color: var(--grey);}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}


