:root{
    --primary: #5e72e4;
    --light: #ffffff;
    --grey: #efefef;
}

.bg-primary{background-color: var(--primary);}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}