/*
 * Sidebar
 */


:root{
   --primary: #5e72e4;
   --light: #ffffff;
   --grey: #efefef;
 }


a:hover{
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.posicion{
  position: relative;
}

.posicion{
  left: 10px;
}

#sidebar-container{
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: .875rem 1.25rem;
}

#siderbar-container .menu{
  width: 17rem;
}